.header-container {
    width: 100%;
    background-color: #0d4406;
    padding: 55px 0;
}

.header-nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: rgb(236, 226, 226);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0ease;
    
}

.nav-link:hover {
    background-color: #e4d7d7;
}

.nav-link.active {
    background-color: #208f3e;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}